# ignore everything by default
*

# un-ignore necessary files

# config files
!.bashrc
!.bashrc_profile
!.profile
!.config/
.config/*
!.config/bash/
!.config/bash/*
!.config/bat/
!.config/bat/*
!.config/environment.d/
!.config/environment.d/*
!.config/eza/
!.config/eza/*
!.config/gh/
!.config/gh/*
!.config/ghostty/
!.config/ghostty/*
!.config/git/
!.config/git/*
!.config/niri/
!.config/niri/*
!.config/swaylock/
!.config/swaylock/*
!.config/yazi/
!.config/yazi/*
!.config/zellij/
!.config/zellij/*
!.config/pavucontrol/
!.config/pavucontrol/*
!.config/user-dirs.dirs

# scripts
!.local/
.local/*
!.local/scripts/
!.local/scripts/*
